<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ReqresAutomationSuite" parallel="classes" thread-count="10">

    <listeners>
        <listener class-name="com.reqres.automation.CustomTestNGListener"/>
    </listeners>

    <test name="AllApiTests">
        <classes>
            <class name="com.reqres.automation.rest.UserApiTests"/>
            <class name="com.reqres.automation.rest.UnknownResourceApiTests"/>
            <class name="com.reqres.automation.rest.AuthenticationApiTests"/>
            <class name="com.reqres.automation.rest.RequestResponseMaskingTests"/>
            <class name="com.reqres.automation.rest.AuthStrategyTests"/>
            <class name="com.reqres.automation.rest.OAuth2AccessTokenAuthStrategyTests"/>
            <class name="com.reqres.automation.rest.OidcIdTokenAuthStrategyTests"/>
            <class name="com.reqres.automation.rest.JwtBearerAuthStrategyTests"/>
            <class name="com.reqres.automation.rest.OAuth2RefreshTokenAuthStrategyTests"/>
            <class name="com.reqres.automation.clients.auth.cache.TokenCacheRegistryTests"/>
            <class name="com.reqres.automation.utils.JwtClaimsDecoderTests"/>
            <class name="com.reqres.automation.rest.RateLimitTests"/>
            <class name="com.reqres.automation.rest.Fallback503Tests"/>
            <class name="com.reqres.automation.rest.RetryHelperTests"/>
            <class name="com.reqres.automation.config.EnvConfigSensitiveDataTests"/>
            <class name="com.reqres.automation.config.ConfigCachingTests"/>
            <class name="com.reqres.automation.config.UsersEndpointRateLimitChokePointTests"/>
            <class name="com.reqres.automation.utils.LruTtlCacheTests"/>
            <class name="com.reqres.automation.utils.TestImpactAnalyzerTests"/>
            <class name="com.reqres.automation.utils.RunHistoryStoreTests"/>
            <class name="com.reqres.automation.TestResultAggregatorIntegrationTests"/>
            <class name="com.reqres.automation.FlakyTestDetectorTests"/>
            <class name="com.reqres.automation.NestedRunSandboxClasspathTests"/>
            <class name="com.reqres.automation.webhook.WebhookReceiptTests"/>
            <class name="com.reqres.automation.cli.CliMainTests"/>
            <class name="com.reqres.automation.cli.ImpactAnalysisCommandTests"/>
            <class name="com.reqres.automation.cli.FlakyReportCommandTests"/>
        </classes>
    </test>

    <test name="ContractTests">
        <classes>
            <class name="com.reqres.automation.rest.UserSchemaContractTests"/>
        </classes>
    </test>

</suite>
