<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ReqresAutomationSuite" parallel="classes" thread-count="4">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="AllApiTests">
        <classes>
            <class name="com.reqres.automation.rest.UserApiTests"/>
            <class name="com.reqres.automation.rest.RequestResponseMaskingTests"/>
            <class name="com.reqres.automation.config.EnvConfigSensitiveDataTests"/>
            <class name="com.reqres.automation.graphql.UserQueryTests"/>
            <class name="com.reqres.automation.graphql.CountriesQueryTests"/>
            <class name="com.reqres.automation.websocket.EchoWebSocketTests"/>
            <class name="com.reqres.automation.websocket.PublicEchoWebSocketTests"/>
            <class name="com.reqres.automation.webhook.WebhookReceiptTests"/>
        </classes>
    </test>

    <test name="ContractTests">
        <classes>
            <class name="com.reqres.automation.rest.UserSchemaContractTests"/>
        </classes>
    </test>

</suite>
